*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	display: block;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
	background: #fff;
}
.personalstartbody{
	width: 7.5rem;
	height: auto;
	
}
.personalstart-header{
	width: 100%;
	height: 1rem;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;	
	background: #0E121E;
	position: absolute;
	z-index: 10;
}
.personalstart-header a:nth-child(1){
	width: 0.66rem;
	height: 0.66rem;
	background-image: url(../img/perstart_03.png);
	background-size: cover;	
	margin-left: 0.2rem;
}
.personalstart-header a:nth-child(2){
	width: 1.77rem;
	height: 0.66rem;
	background-image: url(../img/perstart_05.png);
	background-size: contain;	
}
.personalstart-header a:nth-child(3){
	width: 0.66rem;
	height: 0.66rem;
	background-image: url(../img/perstart_07.png);
	background-size: cover;	
	margin-right: 0.2rem;
}
.personalbac{
	width: 7.5rem;
	height: 4.7rem;
	background-image: url(../img/personalbac_03.png);
	background-size: cover;
	background-position: center;
}
.personalstart01{
	width: 7.5rem;
	height: 7.14rem;
	border-radius: 0.05rem;
	background: #13181E;
	border-top: 1px solid rgba(0,0,0,0);
}
.personalstart01box{
	width: 7.3rem;
	height: 2.9rem;
	margin: 0 auto;
	margin-top: -0.4rem;
	background-image: url(../img/personal-yjjx_03.png);
	background-size: cover;
	border-radius: 0.2rem;
}
.personalstart01box>div{
	width: 7.3rem;
	height: 1.45rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	font-size: 0.2rem;
	color: #fff;
}
.personalstart01box .timeb{
	width: 0.9rem;
	height: 0.9rem;
	background-image: url(../img/personal-time_03.png);
	background-size: cover;
	background-position: center;
}
.personalstart01box .timer{
	color: #fff;
	font-size: 0.48rem;
	line-height: 0.9rem;
	text-align: center;
}
.personalstart01box .ex{
	color: #fff;
	font-size: 0.48rem;
	line-height: 0.9rem;
	text-align: center;
}
.perword{
	width:7.3rem ;
	height: 0.72rem;
	color:#30C6BC ;
	font-size: 0.28rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.pershuju{
	width:7.3rem ;
	height: 0.72rem;
	color:#fff ;
	font-size: 0.28rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.pershuju>div{
	width: 2rem;
	height: 0.72rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.pershuju>div:nth-child(1) div{
	width: 0.74rem;
	height: 0.74rem;
	background-image: url(../img/personal-picture_03.png);
	background-position: -0.25rem 0;
	background-size: cover;	
}
.pershuju>div:nth-child(2) div{
	width: 0.74rem;
	height: 0.74rem;
	background-image: url(../img/personal-picture_03.png);
	background-position:  5.8rem 0;
	background-size: cover;	
}
.pershuju>div:nth-child(3) div{
	width: 0.74rem;
	height: 0.74rem;
	background-image: url(../img/personal-picture_03.png);
	background-position: 2rem 0;
	background-size: cover;	
}
.perstartbac1{
	width: 7.5rem;
	height:3.19rem;
	background-image: url(../img/per-net_02.png);
	background-size: cover;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: flat;
	float: left;
}
.perstartbac1 .cir{
	width: 1.75rem;
	height: 1.75rem;
	background-image: url(../img/per-pause_03.png);
	background-size: 1.85rem 1.85rem;
	background-position: center; 
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	z-index: 9;
}
.perstartbac1 .cir1{
	width: 1.65rem;
	height: 1.65rem;
	border-radius: 50%;
	position: absolute;
	top:1.5rem;
	left:1.58rem;
	box-shadow: 0 0 0.5rem 0.05rem #2A5595;
    animation: mymove 2s infinite;
}
.perstartbac1 .cir2{
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.9;
    filter: alpha(opacity=90);
	border-radius: 50%;
	position: absolute;
	top: 1.5rem;
	left: 1.55rem;
	box-shadow: 0 0 0.5rem 0.05rem #233A67;
    animation: mymove1 2s infinite;
}
.perstartbac1 .cira{
	width: 1.75rem;
	height: 1.75rem;
	background-image: url(../img/per-starttunn_05.png);
	background-size: 1.85rem 1.85rem;
	background-position: center; 
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 9;
}
@keyframes mymove {
    0% {
     box-shadow: 0px 0px 0px 2px #2A5595;
     height: 1.5rem;
     width: 1.5rem;
    }
    100% {
     box-shadow: 0px 0px 0px 20px #2A5595;
     height: 1.5rem;
     width: 1.5rem;
    }
    100% {
     opacity: 0;
     filter: alpha(opacity=0);
    }
   }
    
   @keyframes mymove1 {
    0% {
     box-shadow: 0px 0px 0px 2px #233A67;
     height: 1.5rem;
     width: 1.5rem;
    }
    50% {
     box-shadow: 0px 0px 0px 20px #233A67;
     height: 1.5rem;
     width: 1.5rem;
     opacity: 0;
    }
    100% {
     opacity: 0;
     filter: alpha(opacity=0);
    }
   }
.main-footer{
	width: 7.5rem;
	height: 1.4rem;
	margin-top: 0.2rem;
	background: #1E1E1E;
	background-image: url(../img/main-content_44.png);
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
}
.main-footer>a{
	width: 1.04rem;
	height: 1.04rem;
	text-align: center;
	padding-top: 0.8rem;
	color: #C1C1C1;
	font-weight: 400;
	position: absolute;
	box-sizing: border-box;
	font-size: 0.24rem;
}
.main-footer .main-start{
	top: 0.2rem;
	left: 0.9rem;
}
.main-footer .main-self{
	top: 0.2rem;
	right: 0.8rem;
}
.main-footer .main-find{
	top: 0.2rem;
	left: 3.25rem;
}
.main-footer>a:hover{
	color: #fff;
}
.main-none{
	width: 100%;
	height: 1.4rem;
}
